/* In Table.css */
.table-container {
  margin: 20px;
  overflow-x: auto; /* Enables horizontal scrolling */
  width: 100%; /* Ensures it spans the available width */
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  color: #1b2356;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-bottom: 15px;
}

.btn-primary:hover {
  background-color: #162041;
}


.export-button {
  position: sticky;
  top: 0;
  background-color: #1b2356;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
}



.export-button:hover {
  background-color: #333a80; /* Slightly darker shade */
}

table {
  width: max-content; /* Expands table to fit its content */
  border-collapse: collapse;
  color: #1b2356;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  white-space: nowrap; /* Prevents text from wrapping, keeping columns narrow */
}
